body {
  font-family: Work Sans, sans-serif;
  background: radial-gradient(
    circle at 7.5% 24%,
    #3c9946 10%,
    #f7a7aa 50.3%,
    #ef3c68 85.8%
  );
  background-repeat: none;
  height: 100%;
  background-attachment: fixed;
}

.weather-app-city {
  text-align: center;
  font-size: 32px;
  margin-bottom: 0;
  color: #ef3c68;
  font-weight: bold;
}

.weather-app-temperature-container {
  display: flex;
  justify-content: center;
  color: #ef3c68;
  font-weight: bold;
  margin: 10px 0;
}

.weather-app-temperature {
  font-size: 70px;
}

.weather-app-unit {
  padding: 15px 0 30px 5px;
  font-size: 18px;
}

.weather-app-emoji {
  width: 70px;
  padding-top: 5px;
}

.weather-app-details-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  color: #3c9946;
  margin: 10px 0;
}

.weather-description {
  flex: 1;
  text-align: center;
}

.weather-wind-speed {
  flex: 1;
  text-align: center;
}

.weather-humidity {
  flex: 1;
  text-align: center;
}

.weather-form {
  display: block;
  margin: auto;
  max-width: 650px;
}

.weather-search-form {
  padding: 4px 190px;
  margin-top: 100px;
  border-radius: 10px;
  border-color: white;
  border-width: 2px;
  background-color: transparent;
  color: white;
}

input::placeholder {
  color: white;
}

.weather-submit-form {
  color: white;
  padding: 4px 25px;
  margin: 0 5px;
  border-radius: 10px;
  border-color: white;
  border-width: 2px;
  background-color: transparent;
}

.footer {
  text-align: center;
  color: white;
  font-size: 12px;
}

a {
  color: #ef3c68;
}

a:hover {
  color: #3c9946;
}

.weather-app {
  background-color: white;
  max-width: 650px;
  padding: 50px;
  margin: 30px auto;
  border-radius: 10px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.weather-forecast-date {
  text-align: center;
  font-size: 21px;
  color: #ef3c68;
  line-height: 20px;
  font-weight: bold;
  padding-top: 20px;
}

.weather-forecast-icon {
  font-size: 42px;
  text-align: center;
  padding: 2px;
}

.weather-forecast-high {
  font-size: 16px;
  color: #3c9946;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.weather-forecast-low {
  font-size: 16px;
  color: #ef7392;
  display: flex;
  justify-content: center;
}

.weather-forecast-temperatures {
  padding: 5px;
  line-height: 25px;
}
